<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 playerslist">
  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 titlebar">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
      <div class="col-lg-11 col-xl-11 col-md-11 col-sm-11">
        <div class="page-title"><i class="fa fa-id-card" aria-hidden="true"></i>
          Players List
        </div>
      </div>
      <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1">
        <div class="page-logout" ng-click="logout()">Logout</div>
      </div>
    </div>
    <div class="col-lg-9 col-xl-9 col-md-9 col-sm-9"></div>
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
    <div class="add-new" ng-click=addplayer()><i class="fa fa-plus-circle createnew" aria-hidden="true"></i>
      <span class="createnew">Create New</span></div>
    </div>
  </div>
  <div ng-show="listscrn" class="col-lg-12 col-xl-12 col-md-12 col-sm-12 playerdata">
    <table>
        <thead>
        <tr>
    <th>Sl.No</th>
    <th>Player Id</th>
    <th>Player Name</th>
    <th>Country</th>
    <th>Profile Visits</th>
    <th></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <tr ng-if="listdata.length>0" ng-repeat="list in listdata">
    <td>{{$index+1}}</td>
    <td>
    <span ng-bind="list.player_id"></span>
  </td>
  <td>
  <span ng-bind="list.player_name"></span>
  </td>
  <td>
  <span ng-bind="list.country"></span>
  </td>
  <td>
  <span ng-bind="list.visits + ' times visited'"></span>
  </td>
  <td>
    <span class="pointers" ng-click="editing(list._id)">
    <i class="fa fa-eye" aria-hidden="true"></i>View
  </span>
  </td>
  <td>
    <span class="pointers" ng-click="deleting(list._id)">
  <i class="fas fa-times-circle"></i>Delete
  </span>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  <div ng-hide="listscrn" class="col-lg-12 col-xl-12 col-md-12 col-sm-12 playerdata">
<center><h1>No data available !!!</h1></center>
  </div>
  </div>
